<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>mangaName</key>
	<array>
		<string>漫天二十八列在前</string>
		<string>勇者这么恶质没问题吗</string>
		<string>星耀学园</string>
		<string>夏洛特的道听途说</string>
		<string>天梯劝降学园</string>
		<string>鱼生无趣</string>
		<string>篮球引力</string>
		<string>妖宿山</string>
		<string>Hobgoblin 魔女和妖精</string>
		<string>Fate stay night</string>
		<string>菜花洋果子店的好工作</string>
		<string>宇久纷华</string>
		<string>我的女子力在那女孩的胖次里</string>
		<string>神奇宝贝特別篇</string>
		<string>毒舌女孩</string>
		<string>对你情有独钟</string>
		<string>网球优等生</string>
		<string>冻牌</string>
		<string>竞女</string>
		<string>I am…</string>
		<string>妄想高校教员森下</string>
		<string>崩坏AI娘爱酱绝对不会告诉玩家的事实</string>
		<string>正义联盟</string>
		<string>公交男女爆笑漫画</string>
		<string>有宠百科</string>
		<string>正负联盟</string>
		<string>猪人居然是镇主夫什么的</string>
		<string>拖稿的勇者</string>
		<string>黑暗行动</string>
		<string>平博士密码搞笑科普漫画</string>
		<string>有宠日常</string>
		<string>囧鸡二三事</string>
		<string>狠西游</string>
		<string>美国正义联盟v4</string>
		<string>阿土博之保护耕地</string>
		<string>『未』成熟</string>
		<string>绝对可爱Children</string>
		<string>重返地下城</string>
		<string>这个猎人不太勇</string>
		<string>恶魔禁域</string>
		<string>污托邦漂流记</string>
		<string>您的委托我们接下了</string>
		<string>芙娜旅馆</string>
		<string>蔷薇战争</string>
		<string>路人女主的养成方法</string>
		<string>少女三月强势出击</string>
		<string>超巨型机甲剑士学园</string>
		<string>毁灭俱乐部</string>
		<string>陆道</string>
		<string>无口少女森田桑</string>
		<string>蟑螂娘</string>
	</array>
</dict>
</plist>
